# default config for phpstan
#
# more infos: vendor/bin/phpstan analyze --help

parameters:
    level: 0 # to higher number when all is fixed
    paths:
      - src/
      - tests/
    autoload_files:
      - vendor/cubetools/cube-common-develop/src/CodeStyle/PhpStanDummy/LoadFallbackClasses.php

    ignoreErrors:
        # because of classes very likely not loaded in bundle
        - '# Buzz\\Browser#'
        - '# Buzz\\Client\\BatchClientInterface#'
        - '# Buzz\\Client\\MultiCurl#'
        - '# Buzz\\Exception\\RequestException#'
        - '# DataDog\\AuditBundle\\Entity\\Association#'
        - '# DataDog\\AuditBundle\\Entity\\AuditLog#'
        - '# Doctrine\\Common\\Collections\\ArrayCollection#'
        - '# Doctrine\\Common\\Persistence\\ObjectManager#'
        - '# Doctrine\\ORM\\EntityManager#'
        - '# Doctrine\\ORM\\EntityRepository#'
        - '# Doctrine\\ORM\\Mapping\\ClassMetadata#'
        - '# Doctrine\\ORM\\QueryBuilder#'
        - '# Knp\\Component\\Pager\\Pagination\\PaginationInterface#'
        - '# Knp\\Component\\Pager\\PaginatorInterface#'
        - '# Luiggio\\ExcelBundle\\Factory#'
        - '# Swift_Attachment#'
        - '# Swift_Mailer#'
        - '# Swift_Message#'
        - '# Symfony\\Bridge\\Doctrine\\ManagerRegistry#'
        - '# Symfony\\Component\\HtmlFoundation\\Response#'
        - '# Symfony\\Component\\HttpKernel\\Event\\FilterResponseEvent#'
        - '# Symfony\\Component\\HttpKernel\\Exception\\BadRequestHttpException#'
        - '# Symfony\\Component\\HttpKernel\\KernelEvents#'
        - '# Symfony\\Component\\Routing\\Generator\\UrlGeneratorInterface#'
        - '# Symfony\\Component\\Security\\Core\\Authentication\\Token\\Storage\\TokenStorageInterface#'
        - '# Symfony\\Component\\Security\\Core\\User\\UserInterface#'
        - '# Symfony\\Component\\Templating\\EngineInterface#'
        - '# Symfony\\Component\\Translation\\TranslatorInterface#'
        - '# PHPExcel#'
        - '# PHPExcel_Worksheet#'
